:root {
    --prime-color: #442fff;
    --branco: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./img/ipad-air-2022-stock-blue-background-dark-mode-3840x2160-7903.png");
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--branco);
    margin-bottom: 30px;
    font-size: 50px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.key {
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    backdrop-filter: blur(20px);
}

.key.active {
    border: 2px solid var(--prime-color);
    color: #FFF;
}

.composer {
    width: 260px;
    margin-top: 20px;
}

.composer #input {
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 10px 15px;
}

.composer button {
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    backdrop-filter: blur(20px);
}

.composer button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--prime-color);
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}